1.read the data with pandas and find features and target variables
2.Normalize the data with min-max scaling
3.Split the data into train and test.

In [ ]:
import pandas as pd

data=pd.read_csv("/content/train.csv")
print(data)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]

In [ ]:
y=data['price_range']
y

0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64

In [ ]:
yf=y-y.min()/y-y.max()-y.min()
print(yf)

0      -2.0
1      -1.0
2      -1.0
3      -1.0
4      -2.0
       ...
1995    NaN
1996   -1.0
1997    0.0
1998    NaN
1999    0.0
Name: price_range, Length: 2000, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data,yf,test_size=0.2,random_state=30)
print(x_train)
print(y_test)
print(x_train)
print(y_test)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1572            895     0          0.5         1   6       0          16
1442            973     0          0.5         1   5       0          53
1516           1081     1          1.9         1  13       1          42
259            1559     1          1.6         1   6       1           6
945             832     0          1.1         0   0       1          46
...             ...   ...          ...       ...  ..     ...         ...
500            1278     1          0.5         1   1       0          54
1837            983     0          0.6         1   0       1          45
941             743     0          0.5         1   0       1          33
421            1178     0          2.2         1   6       0          57
1829           1065     0          1.7         1   4       1          48

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1572    0.3        164        8  ...        126      1575  3122     7     0
1442    0.5        196        5  ...        105       588  1861    13    10
1516    0.1        101        7  ...         83       816  2456     7     4
259     0.5        162        6  ...        179      1559  3352     9     1
945     0.3         93        6  ...        820      1366  3317     8     0
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
500     0.1        104        8  ...        581       750  1155     7     1
1837    0.1        130        4  ...        948      1205  2052     5     3
941     0.3         95        2  ...       1587      1659   316    19    10
421     0.3         84        3  ...         96      1352  2492    16    14
1829    0.3        162        6  ...       1188      1948   265     8     0

      talk_time  three_g  touch_screen  wifi  price_range
1572          4        0             0     1            2
1442         16        0             1     0            1
1516          7        1             0     0            1
259           3        1             1     1            3
945          19        1             1     0            3
...         ...      ...           ...   ...          ...
500          20        0             0     1            0
1837          6        1             0     1            1
941           4        1             0     0            0
421          10        1             1     0            2
1829         12        1             0     0            0

[1600 rows x 21 columns]
1856    0.0
364     NaN
1948   -2.0
1458   -2.0
609    -1.0
       ...
1163   -1.0
572     0.0
1105    NaN
1903   -1.0
481     0.0
Name: price_range, Length: 400, dtype: float64
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
1572            895     0          0.5         1   6       0          16
1442            973     0          0.5         1   5       0          53
1516           1081     1          1.9         1  13       1          42
259            1559     1          1.6         1   6       1           6
945             832     0          1.1         0   0       1          46
...             ...   ...          ...       ...  ..     ...         ...
500            1278     1          0.5         1   1       0          54
1837            983     0          0.6         1   0       1          45
941             743     0          0.5         1   0       1          33
421            1178     0          2.2         1   6       0          57
1829           1065     0          1.7         1   4       1          48

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
1572    0.3        164        8  ...        126      1575  3122     7     0
1442    0.5        196        5  ...        105       588  1861    13    10
1516    0.1        101        7  ...         83       816  2456     7     4
259     0.5        162        6  ...        179      1559  3352     9     1
945     0.3         93        6  ...        820      1366  3317     8     0
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
500     0.1        104        8  ...        581       750  1155     7     1
1837    0.1        130        4  ...        948      1205  2052     5     3
941     0.3         95        2  ...       1587      1659   316    19    10
421     0.3         84        3  ...         96      1352  2492    16    14
1829    0.3        162        6  ...       1188      1948   265     8     0

      talk_time  three_g  touch_screen  wifi  price_range
1572          4        0             0     1            2
1442         16        0             1     0            1
1516          7        1             0     0            1
259           3        1             1     1            3
945          19        1             1     0            3
...         ...      ...           ...   ...          ...
500          20        0             0     1            0
1837          6        1             0     1            1
941           4        1             0     0            0
421          10        1             1     0            2
1829         12        1             0     0            0

[1600 rows x 21 columns]
1856    0.0
364     NaN
1948   -2.0
1458   -2.0
609    -1.0
       ...
1163   -1.0
572     0.0
1105    NaN
1903   -1.0
481     0.0
Name: price_range, Length: 400, dtype: float64

1.Read the data with pandas and describe the data
2.Find data type and shape of each column
3.Find the target and features
4.Find the null values (if yes fill the null values with ‘0’ or mean of that column)
5.Normalize all the features
6.Split the data into train and test.

In [ ]:
import pandas as pd
data=pd.read_csv("")